
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body {
    font-size: 15px;
    background-image: url(../images/fondoweb.jpg);
    background-size: 100%;
    /* display: flex;
    flex-direction: column; */
}
/* Navegador */

.menu {
    width: 100%;
    height: auto;
    background-color: rgba(26, 25, 23, 0.85);
}

.navegador {
    width: 100%;
    padding: 25px 25px; 
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
}

.list__navegador {
    list-style: none;
    width: 80%;
    /* margin-left: 300px; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

}

.link__list {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(167, 162, 109);
    font-size: 1.7rem;      
}



/* Navegador*/


/* Cuerpo Pagina */

.container {
    width: 100%;
    height: auto;
    /* background-image: url(../images/fondo.jpg); */
}

.title__page {
    padding: 20px;
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
    color: aliceblue;
}

.container__section {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 90px;
    display: grid;
    grid-template-rows: 450px 450px 450px;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
}

.section__img {
    border-radius: 15px;
    border: 4px double rgb(167, 162, 109);
}

.section__text {
    width: 50%;
    height: 100%;
    color: aliceblue;
    background-color: rgba(26, 25, 23, 0.65);
    border-radius: 25px;
}

h4 {
    font-size: 2rem;
    font-family: 'Dosis', sans-serif;
    margin-top: 2rem;
    margin-left: 1rem;
}

p {
    font-family: 'Dosis', sans-serif;
    font-size: 1.3rem;
    margin-top: 5rem;
    margin-left: 1rem;
}

/* Fin Cuerpo Pagina */


/* Estilos pagina service */

.container__services {
    margin-top: 5rem;
    margin-left: 5%;
    margin-right: 10%;
    padding-bottom: 8rem;
}

.card__services {
    height: 40vh;
    width: 150vh;
    background-color: rgba(26, 25, 23, 0.85);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem 0 2rem;
    margin-bottom: 3rem;

    
}

.service {    
    font-family: 'Dosis', sans-serif;
    color: aliceblue;
    font-size: 2rem;
    border-bottom: solid 0.2rem aliceblue;
    margin-bottom: 1.7rem;
}

.card__name__service {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}

.name__service, .valor__service {
    color: aliceblue;
    font-size: 1.5rem;
}

.valor__service {
    text-align: end;
}


/* Fin Estilos Pagina service */


/* Estilo Pagina Products */

.container__products {
    margin-top: 55px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 90px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-columns: 450px 450px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.products {
    background-color: rgba(99, 96, 96, 0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 25px 80px 25px;
}

.img__products {
    border-radius: 10px;
    border: 2px double rgb(26, 25, 23);
}

.name__products {
    text-align: center;
    margin-top: 10px;
    font-family: 'Dosis', sans-serif;
    font-size: 1.4rem;
}

/* Fin Estilo Pagina Products */


/* Estilos Pagina About */

.container__valor {
    width: 90%;
    margin-top: 40px;
    margin-left: 85px;
    padding-bottom: 80px;
    text-align: center;
}

.valor {
    display: inline-block;
    width: 25%;
    height: 450px;
    margin: 0 25px;
    font-size: 1.1rem;
    text-align: justify;
    border: rgb(26, 25, 23) dashed 2px ;
    padding: 0 20px;
    background-color: rgba(99, 96, 96, 0.8);
    border-radius: 3%  25% ;
}

.title__valor {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 45px;
    padding-top: 20px;
    color: rgb(229, 228, 226);
}

.description__valor {
    color: rgb(229, 228, 226);
    font-family: 'Dosis', sans-serif;
    line-height: 30px;
}

/* Fin Estilos Pagina About */


/* Estilo Pagina Contact */

.container__form {
    margin-top: 5rem;
    margin-left: 5%;
    margin-right: 5%;
}

.form {
    background-color: rgba(26, 25, 23, 0.5);
    border-radius: 10px;
    width: 30%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

}

.name__form, .phone__form, .mail__form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 1.5rem;
    
}

.label__form {
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;
    color: aliceblue;
}

.input__form, .reserve, .send {
    width: 12rem;
    height: 2rem;
}

.reserve__form {
    display: grid;
    grid-template-columns:  1fr 2fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 1.5rem;
}

/* .send {
    display: flex;
    flex-direction: column;
} */


/* Fin Estilo Pagina Contact */


/* Footer */

.footer {
    width: 100%;
    height: 8rem;
    background-color: rgba(26, 25, 23, 0.7);
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-size: 2rem;
    color: rgb(229, 228, 226);
}

/* Fin Footer */